/* ================================
   ESTILOS DEL HEADER
   ================================ */

/* Estructura general */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11132e; /* Fondo oscuro elegante */
  color: #523636;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo y texto */
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

header .logo h1 {
  font-size: 1.8rem;
  color: #4d739c; /* Am*
}